@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home";
}

<div class="fundo-img">
<div class="main-content">  
<h1>BEM VINDO A KNOWLEDGE&LEARNING!</h1>
<h3>CULTURA, CONHECIMENTO E LAZER EM UM SÓ LUGAR!</h3> 
</div>   
</div>
