@{
    ViewData["Title"] = "Produtos";
}

        <title>Livros</title>
        <style>
            ul{
                list-style: none;
                display: flex;
                justify-content: space-around;
            }
        </style>
    

    <body>
        <main class="fundo-color">
        <div class="usuarios-content">  
            <div class="icone-titulo"><img class="icones-content" src="~/img/icone-livros.png"><h3 class="titulos">LIVROS</h3></div>
            <p class="paragrafos">Aproveite agora os descontos exclusivos com parcelamento em até 12x sem juros! Não desperdice essa chance, compre e leve o seu para casa!</p>
            <br>
            <br>
                <ul>
                    <li>
                        <img src="~/img/paiRico_paiPobre.jpg" alt="Pai Rico, Pai Pobre"  height="200px">
                        <p class="label-style" align="center">Pai Rico, Pai Pobre</p>
                        <p class="label-style" align="center">R$ 40,00</p>
                        <a href="../Home/Reserva"><input type="submit" value="Reservar" class="input-button"></a>
                    </li>
                    <li>
                        <img src="~/img/rapidoedevagar.jpg" alt="Rapido e Devagar"  height="200px">
                        <p class="label-style" align="center">Rápido e Devagar</p>
                        <p class="label-style" align="center">R$ 37,89</p>
                        <a href="../Home/Reserva"><input type="submit" value="Reservar" class="input-button"></a>
                    </li>
                    <li>
                        <img src="~/img/quempensa_enriquece.jpg" alt="Quem Pensa, Enriquece"  height="200px">
                        <p class="label-style" align="center">Quem Pensa, Enriquece</p>
                        <p class="label-style" align="center">R$ 50,00</p>
                        <a href="../Home/Reserva"><input type="submit" value="Reservar" class="input-button"></a>
                    </li>
                    <li>
                        <img src="~/img/1001-invencoes.jpg" alt="As 1001 invenções que mudaram o mundo"  height="200px">
                        <p class="label-style" align="center">As 1001 Invenções</p>
                        <p class="label-style" align="center">R$ 80,00</p>
                        <a href="../Home/Reserva"><input type="submit" value="Reservar" class="input-button"></a>
                    </li>
                    <li>
                        <img src="~/img/talento_liderar.jpg" alt="O Talento para Liderar" height="200px">
                        <p class="label-style" align="center">O Talento para Liderar</p>
                        <p class="label-style" align="center" align="center">R$ 33,00</p>
                        <a href="../Home/Reserva"><input type="submit" value="Reservar" class="input-button"></a>
                    </li>
                </ul>
        </div>
        </main>
    </body>