<!doctype html>

<head>
    <title>Sobre Nós</title>
</head>
<main class="fundo-color">
<body>
<h2 class="titulos">Sobre nós:</h2>
    <tr>    
        <li>
            <a href="Livraria Knownledge&Learning.html">Voltar para a pagina inicial</a>
        </li>
    </tr>
    <table border="0">
        <tr>
            <th>
                <img class="col-sm-8" src="https://imagens.brasil.elpais.com/resizer/YP4yBmv78LtY2wkafzTc7zYZEWY=/1500x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/VBERJ5KIRFH77DSCLTPOJVLKIQ.jpg" width="500px ">
                <p align="center"class="paragrafos">Uma história que se inicia com o objetivo de construir uma livraria para promover o encontro de pessoas com os mais variados interesses.</p>
            </th>
        </tr>
    </table>

    <div id="central">
        <h3 class="paragrafos">Ética:</h3>
        <p class="paragrafos">Conduzimos nossos negócios e relações profissionais com moral e transparência.</p>
    </div>
    
    <div id="central">
        <h3 class="paragrafos">Diversidade:</h3>
        <p class="paragrafos">Essa é uma palavra que nos define. A variedade do nosso acervo e os diferentes perfis de nossos colaboradores e clientes são o espelho desse valor.</p>
    </div>

    <div id="central">
        <h3 class="paragrafos">Responsabilidade:</h3>
        <p class="paragrafos">Acreditamos que a responsabilidade cultural contribui para uma sociedade mais conscientizada sobre desenvolvimento econômico, social e ambiental com sustentabilidade.</p>
    </div>
        
    <div id="central">
        <h3 class="paragrafos">Inovação:</h3>
        <p class="paragrafos">Estamos em busca incessante em levar o novo aos nossos clientes. Esse é um perfil que buscamos em nossos colaboradores. Desafiamos o “sempre foi assim”. Se algo funciona, já está obsoleto.</p>
    </div>

    <div id="central">
        <h3 class="paragrafos">Excelência:</h3>
        <p class="paragrafos">A nossa receita para a excelência é profissionalismo com trabalho em equipe. Na Livraria knownlegde&Learning, o diálogo é aberto, sempre olhando para o futuro e em uma busca incessante para superar a expectativa de nossos clientes.</p>
    </div>

    <div id="central">
        <h3 class="paragrafos">Comprometimento:</h3>
        <p class="paragrafos">Um dos conceitos que levamos muito a sério, pois procuramos ter um vínculo especial com os clientes para que possamos atendê-los da melhor forma</p>
    </div>
</body>
</main>