<!doctype html>

<head>
    <title>Trabalhe conosco</title>
</head>
<main class="fundo-color">
<body>
    <div id="header">    
        <h2 class="titulos">Trabalhe Conosco!</h2>
    </div>
    <tr>    
        <li>
            <a href="Livraria Knownledge&Learning.html">Voltar para a pagina inicial</a>
        </li>
    </tr>
        <div id="main">
            <h4 class="titulos">Venha fazer parte da nossa equipe!</h4>
        </div>
    <tr>
        <th><img src="https://media.istockphoto.com/photos/women-working-at-bookstore-picture-id506502824?k=6&m=506502824&s=612x612&w=0&h=o_YeEJDDl1mvHFORkat93aF-ZKpfbBD8HD6AooqhqMo="></th>
    </tr>
        <div id="main">
            <p class="paragrafos">Confiança é a base do relacionamento, que ajuda a construir histórias e a fazer parte da vida das pessoas.</p>
        </div>
        <div id="main">
            <p class="paragrafos">Se você se identificou com a Livraria Knownledge&Learning e tem interesse em fazer parte da empresa, venha trabalhar conosco!</p>
        </div>
        <div id="header">
            <h3 class="titulos">Benefícios</h3>
        </div>
        <div id="footer">
            <ul>
                <li class="paragrafos">Plano de carreira</li>
                <li class="paragrafos">Treinamento e capacitação dos funcionarios</li>
                <li class="paragrafos">Salário compatível com o mercado</li>
                <li class="paragrafos">Plano de saúde</li>
                <li class="paragrafos">Auxilio refeição</li>
                <li class="paragrafos">Vale transporte</li>
                <li class="paragrafos">Participação dos lucros e descontos livraria</li>
            </ul>
        </div>
</body>
</main>